body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0e0000;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

main {
    padding: 20px;
}

#hero {
    text-align: center;
    padding: 50px;
}

#advocates {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.advocate-card {
    border: 1px solid #f1ebeb;
    padding: 20px;
    width: 300px;
}

footer {
    text-align: center;
    padding: 10px;
}